#container {
    font-family: 'Open Sans', sans-serif;
}

#sectionHeader {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid 2px;
    border-color: rgb(226, 226, 226);
    border-radius: 10px;
    border-style: groove;
}

#sectionNav {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    display: flex;
    justify-content:space-around;
    text-align: center;
    border: solid 2px;
    border-color: rgb(226, 226, 226);
    border-radius: 10px;
    border-style: groove;
    padding: 20px;
}

.textNav {
    color: black;
    border: 1px;
    border-style: groove;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    transition: transform .3s;
    background-color: #f7f7f7;
}

.textNav:hover {
    transform: scale(1.2);
  }


#sectionMain {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    padding: 20px 10px;
    border: solid 2px;
    border-color: rgb(226, 226, 226);
    border-radius: 10px;
    border-style: groove;
}

#sectionSkills {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    border: solid 2px;
    border-color: rgb(226, 226, 226);
    border-radius: 10px;
    border-style: groove;
}

#sectionContact {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: solid 2px;
    border-color: rgb(226, 226, 226);
    border-radius: 10px;
    border-style: groove;
    text-align: center;
}

.formsContacts {
    display: flex;
    align-items: center;
}

.labelFormsContacts {
    margin: 0 10px;
}

#sectionFooter {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid 2px;
    border-color: rgb(226, 226, 226);
    border-radius: 10px;
    border-style: groove;
    font-family: 'Caveat', cursive;
    font-family: 'Protest Riot', sans-serif;
}

.item-logo {
    transition: transform .3s;
}
.item-logo:hover {
    transform: scale(1.2);
  }