body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
}

.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
}

header ul {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;

    list-style: none;
    font-size: 1.2rem;

    display: flex;
    gap: 3rem;
}

header ul a {
    text-decoration: none;
    color: black;
}

header ul a li {
    border-radius: 0.75em;
    padding: 2px;
    transition: 0.7s;

    display: flex;
    align-items: center;
    gap: 0.4rem;
}

header ul a li:hover {
    padding: 3px;
    transform: scale(1.1);
    border: solid 0.01rem transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

main {
    margin-top: 1rem;
    width: 90%;
    height: 1200px;

    display: flex;
    align-items: start;
    justify-content: space-evenly;

    .profile {
        background-color: white;
        border-radius: 0.3rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        width: 20%;
        height: 610px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .imageProfile {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;

            img {
                width: 250px;
                height: 250px;
                border-radius: 100%;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            }
        }

        .textProfile {
            width: 90%;
            font-family: "Roboto", sans-serif;
            font-weight: 500;

            h1 {
                text-align: center;
                font-size: 1.6rem;
            }

            h2 {
                font-size: 1.3rem;
            }

            .links {
                display: flex;
                justify-content: space-between;

                img {
                    width: 3.3rem;
                    height: 3.3rem;
                    transform: scale(0.9);
                    transition: 1s;
                }

                img:hover {
                    transform: scale(1.1);
                }
            }
        }

        #subTextLinks {
            color: #A0A0A0;
        }
    }

    .projects {
        border-radius: 0.3rem;

        width: 75%;
        height: 1200px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .boxProject {
            background-color: white;
            border-radius: 0.3rem;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

            width: 100%;
            height: 250px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            .boxProjectImage {
                display: flex;
                align-items: center;

                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 0.3rem;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px, rgba(0, 0, 0, 0.1) 0px 5px 5px;
                }
            }

            .boxProjectText {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                text-align: left;
                width: 77%;

                h1 {
                    font-family: "Roboto", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                }

                h4 {
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                    font-style: normal;
                    color: #A0A0A0;
                }

                p {
                    font-family: "Roboto", sans-serif;
                    font-weight: 300;
                    font-size: 1rem;
                    font-style: normal;
                    color: #A0A0A0;
                    height: 40px;
                }

                .btnBoxPosition {
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 0.7rem;

                    .button-30 {
                        align-items: center;
                        appearance: none;
                        background-color: #FCFCFD;
                        border-radius: 4px;
                        border-width: 0;
                        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
                        box-sizing: border-box;
                        color: black;
                        cursor: pointer;
                        display: inline-flex;
                        font-family: "Roboto", sans-serif;
                        font-weight: 700;
                        height: 30px;
                        justify-content: center;
                        line-height: 1;
                        list-style: none;
                        overflow: hidden;
                        padding-left: 8px;
                        padding-right: 8px;
                        position: relative;
                        text-align: left;
                        text-decoration: none;
                        transition: box-shadow .15s, transform .15s;
                        user-select: none;
                        -webkit-user-select: none;
                        touch-action: manipulation;
                        white-space: nowrap;
                        will-change: box-shadow, transform;
                    }

                    .button-30:focus {
                        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
                    }

                    .button-30:hover {
                        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
                        transform: translateY(-2px);
                    }

                    .button-30:active {
                        box-shadow: #D6D6E7 0 3px 7px inset;
                        transform: translateY(2px);
                    }
                }

            }

        }

    }
}